<form class="form-control"  method="POST" >
  <div class="mb-3">
    <h1 class="form-label">Planta</h1>
  </div>
  <div class="mb-3">
    <label for="nombre"  class="form-label">Nombre</label>
    <input type="text" name="nombre" {% if accion %} value="{{planta.nombre}}" {% endif %}  class="form-control" >
  </div>
  <div class="mb-3">
    <label for="especie"    class="form-label">Especie</label>
    <input type="text" name="especie" {% if accion %} value="{{planta.especie}}" {% endif %}  class="form-control" >
  </div>
  <div class="mb-3">
    <label for="lugar"    class="form-label">Lugar de Origen</label>
    <input type="text" name="lugar" {% if accion %} value="{{planta.lugar}}" {% endif %}  class="form-control" >
  </div>

   <table class="table">
  <thead>
    <tr>
      <th scope="col">Uso #1</th>
      <th scope="col">Uso #2</th>
      <th scope="col">Uso #3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usos
              </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for uso in usos %}
                <a class="dropdown-item" href="#" name="uso1">{{uso.nombre}}</a>
              {% endfor %}
            </div>
          </div>
      </td>
      <td>
         <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usos
              </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for uso in usos %}
                <a class="dropdown-item" href="#" name="uso2" >{{uso.nombre}}</a>
              {% endfor %}
            </div>
          </div>
      </td>
      <td>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usos
              </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for uso in usos %}
                <a class="dropdown-item" href="#" name="uso3">{{uso.nombre}}</a>
              {% endfor %}
            </div>
          </div>
      </td>
    </tr>
  </tbody>
</table>

   <table class="table">
  <thead>
    <tr>
      <th scope="col">Herbolario #1</th>
      <th scope="col">Herbolario #2</th>
      <th scope="col">Herbolario #3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usos
              </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for herbolario in herbolarios %}
                <a class="dropdown-item" href="#" name="herbolario1">{{herbolario.nombre}}</a>
              {% endfor %}
            </div>
          </div>
      </td>
      <td>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usos
              </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for herbolario in herbolarios %}
                <a class="dropdown-item" href="#" name="herbolario2">{{herbolario.nombre}}</a>
              {% endfor %}
            </div>
          </div>
      </td>
      <td>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usos
              </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for herbolario in herbolarios %}
                <a class="dropdown-item" href="#" name="herbolario3">{{herbolario.nombre}}</a>
              {% endfor %}
            </div>
          </div>
      </td>
    </tr>
    <tr>
      <td>
          <div class="mb-3">
            <label for="herbolarionombre"  class="form-label">Precio</label>
            <input type="text" name="precio1" value=""   class="form-control" >
          </div>
      </td>
      <td>
          <div class="mb-3">
            <label for="herbolarionombre"  class="form-label">Precio</label>
            <input type="text" name="precio2" value=""  class="form-control" >
          </div>
      </td>
      <td>
          <div class="mb-3">
            <label for="herbolarionombre"  class="form-label">Precio</label>
            <input type="text" name="precio3"  value=""   class="form-control" >
          </div>
      </td>
    </tr>
  </tbody>
</table>

  <button type="submit" class="btn btn-primary" >
    {% if accion %}      {#Cambio del texto del boton#}
      Editar
    {% else  %}
      Añadir 
    {% endif %} 
  </button>
</form>